* {
  box-sizing: border-box;
  margin: 0;
}
#thumbnailBar {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: 18vh;
  border: 2px solid gold;
  height: fit-content;
  border-radius: 25px;
}

body {
  display: flex;
  justify-content: center;
  background-color: black;
}
#fullSizeImageContainer {
  height: 100vh;
}
@media (min-width: 800px) {
  #thumbnailBar {
    position: absolute;
    bottom: 1rem;
    width: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1rem;
    height: 20vh;
    border: 2px solid red;
    border-radius: 25px;
  }
}
#backButton {
  position: absolute;
  left: 1rem;
  top: 25%;
  font-size: 1rem;
}
#nextButton {
  position: absolute;
  right: 1rem;
  top: 25%;
}
button {
  background-color: red;
  color: white;
  height: 5vh;
  font-size: 1rem;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  border-radius: 2rem;
}
