* {
  box-sizing: border-box;
  margin: 0;
}
#thumbnailBar {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: 18vh;
  border: 2px solid gold;
  height: fit-content;
  border-radius: 25px;
}

body {
  display: flex;
  justify-content: center;
  background-color: black;
}
#fullSizeImageContainer {
  height: 100vh;
}
@media (min-width: 800px) {
  #thumbnailBar {
    position: absolute;
    bottom: 1vh;
    width: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1vh;
    height: 20vh;
    border: 2px solid red;
    border-radius: 25px;
    left: auto;
  }
}
#backButton {
  position: absolute;
  left: 1vh;
  top: 25%;
}
#nextButton {
  position: absolute;
  right: 1vh;
  top: 25%;
}
/* height, width and font set as vh to change size as the screen does */
button {
  background-color: black;
  border: 1px solid blue;
  color: gold;
  height: 5vh;
  width: 5vh;
  font-size: 3vh;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  border-radius: 5vh;
  text-align: center;
  text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}
